#MiitWrapper {
  height: 100%;
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  flex-direction: column;
}

#mapWrapper {
  /*remove touch */
  /*pointer-events: none;*/
  width: 100%;
  /*height: 380px;*/
  bottom: 50px;
  /*touch-action: pan-y pan-x;*/
}

/*DONT KNOW WHY STILL HAVE THIS*/
@media (max-width: 600px) {
  #mapWrapper {
    height: 100%;
    position: absolute;
    bottom: 50px;
  }
}


#map {
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  #map {
    height: 420px;
  }
}
