#MiitWrapper {
  height: 100%;
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  flex-direction: column;
}

#mapWrapper {
  /*remove touch */
  /*pointer-events: none;*/
  width: 100%;
  /*height: 380px;*/
  bottom: 50px;
  /*touch-action: pan-y pan-x;*/
}

/*DONT KNOW WHY STILL HAVE THIS*/
@media (max-width: 600px) {
  #mapWrapper {
    height: 100%;
    position: absolute;
    bottom: 50px;
  }
}


/* On mobile, bottom nav is 50px. There's got to be a better way*/
#map {
  width: 100%;
  height: calc(100vh - 50px);
}

@media (min-width: 600px) {
  #map {
    height: 420px;
  }
}

#mapBackBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(50,50,93,.1);
  border: none;
  z-index: 40;
  height: 26px;
  width: 26px;
  font-size: 15px;
  border-radius: 2px;
  color: #6b7c93;
}
