/* #canvas {
  position: absolute;
} */

.WebRTCwrapper {
  height: calc(100% - 40px);
}

.WebRTC {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
}

#localVideo {
  width: 250px;
}

#remoteVideo {
  width: 250px;
}

#videoCapture {
  width: 100%;
  height: 51%;
}

#takeSnapshot {
  width: inherit;
  height: 100%;
}

.canvasWrapper {
  width: 100%;
  height: 50%;
}

#canvasOverlay {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  color: gray;
  pointer-events: none;
  user-select: none;
}

.hidden {
  visibility: hidden;
}

@media (max-width: 600px) {
  .WebRTCwrapper {
    height: calc(100% - 50px);
  }

  .WebRTC {
    height: calc(100% - 40px);
  }
  /* #videoCapture {
    width: inherit;
    height: 50%;
  } */

  /* #takeSnapshot {
    width: inherit;
    height: 50%;
  }  */
 }