li {
  padding: 0;
  margin: 0;
}

#MessageBody {
  max-width: 160px;
  word-break: break-word;
  display: inline-block;
  padding: 7px 10px;
  margin: 0;
  border-radius: 1em;
  clear: both;
  position: relative;
}

.myMessage {
  float: right;
  margin-bottom: 10px;
}

.myMessageTime {
  bottom: -5px;
  right: 5px;
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(136, 152, 170, 0.8);
}

.myMessageBody {
  background-color: #1289fe;
  color: white;
  font-size: 15px;
}

.theirMessage {
  float: left;
  margin-bottom: 10px;
}

.theirMessageBody {
  background: #e5e5ea;
}

.theirMessageTime {
  bottom: -5px;
  left: 5px;
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(136, 152, 170, 0.8);
}

.divider {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  text-align: center;
}

/*@media (min-width: 600px) {
  .divider {
    width: 90%;
  }
}*/

.innerDivider {
  position: relative !important;
  padding: 0 12px !important;
}

.innerDivider:before {
  content: '' !important;
  position: absolute !important;
  border-bottom: 1px solid #e4e4e4 !important;
  top: 50% !important;
  right: 100% !important;
  width: 5000px !important;
}

.innerDivider:after {
  content: '' !important;
  position: absolute !important;
  border-bottom: 1px solid #e4e4e4 !important;
  top: 50% !important;
  left: 100% !important;
  width: 5000px !important;
}

.dividerText {
  font-size: 12px;
  font-weight: bold;
  color: #354052;
}
