li {
  padding: 0;
  margin: 0;
}

#MessageBody {
  max-width: 160px;
  word-break: break-word;
  display: inline-block;
  padding: 7px 10px;
  margin: 0;
  border-radius: 1em;
  clear: both;
  position: relative;
}

.myMessage {
  float: right;
  margin-bottom: 10px;
}

.myMessageTime {
  bottom: -5px;
  right: 5px;
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(136, 152, 170, 0.8);
}

.myMessageBody {
  background-color: #1289fe;
  color: white;
  font-size: 15px;
}

.theirMessage {
  float: left;
  margin-bottom: 10px;
}

.theirMessageBody {
  background: #e5e5ea;
}

.theirMessageTime {
  bottom: -5px;
  left: 5px;
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(136, 152, 170, 0.8);
}
