.dText {
  box-sizing: border-box;
  height: 100%;
  padding: 40px 50px 40px 0;
  overflow-y: scroll;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  /*color: #6b7c93;*/
  color: #626262;
}

.dHeader h1 {
  margin-bottom: 0;
}

.dHeader p {
  margin-bottom: 0;
}

.dText h4 {
  margin-bottom: 10px;
}

.dText ul {
  margin: 0;
}

.dHeader, .dSubHeader {
  display: flex;
  align-items: baseline;
}

.dSubHeader h3, .dSubHeader p {
  margin-bottom: 0;
}

ul {
  padding-left: 20px;
}

.why {
  margin-bottom: 10px;
}

.headerSpace {
  width: 10px;
}

.strikethrough {
  position: relative;
  color: #929292;
  text-decoration: none;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 55%;
  right: 0;
  border-top: 2px solid;
  border-color: inherit;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}
