.previewAvatarWrapper {
  position: relative;
}

.previewAvatarOnline {
  padding: 7px 10px;
  display: flex;
  align-items: center;
}

.previewAvatarlistItem {
  min-width: 40px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.previewAvatarOnlineName {
  margin: 0;
  font-size: 12px;
}
